body {
  font-size: 18px;
  text-align: center;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}
h1 {
  color: #222831;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  margin-bottom: 0;
}
h2,
h3 {
  color: #0f4c75;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 2.25rem;
}
h4 {
  color: #0f4c75;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  font-size: 1.25rem;
}
.background-pic {
  margin-top: 25px;
}
.profile-img {
  width: 12.4%;
  height: 16.5%;
  background-color: #f4f5db;
  border-radius: 50%;
  margin-top: 25px;
}
hr {
  color: #00adb5;
  height: 3px;
  width: 15%;
  border-style: dotted none none;
  border-width: 8px;
  margin: 70px auto;
}
table {
  table-layout: fixed;
  padding: 5px;
  border-spacing: 120px 40px;
  font-family: "Montserrat", sans-serif;
}
td {
  text-align: left;
  line-height: 2;
}
.grad {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.loc {
  width: 22px;
  height: 22px;
}
.top {
  padding-top: 90px;
  background: linear-gradient(
    to bottom,
    rgba(169, 228, 247, 1) 0%,
    rgba(15, 180, 231, 1) 100%
  );
  padding-bottom: 70px;
}
.middle-container {
  margin-top: 70px;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}
.skill-row {
  width: 35%;
  margin: 60px auto 60px auto;
  text-align: left;
}
.btn {
  background: #51c4d3;
  background-image: linear-gradient(to bottom, #51c4d3, #126e82);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #892cdc;
  background-image: linear-gradient(to bottom, #892cdc, #0f044c);
  text-decoration: none;
}
.bottom-container {
  background-color: #51c4d3;
  padding: 30px 0 20px;
}
.footer-link {
  color: #0f4c75;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #eaf6f6;
}
a {
  color: #0f4c75;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a:hover {
  color: #51c4d3;
}
.copyright {
  color: #eaf6f6;
  font-size: 1rem;
  padding: 20px 0 0;
}
.edu-row {
  margin-left: 320.675px;
}
.lang-row {
  margin-left: 400.675px;
}
.achievement {
  text-align: left;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  width: 65%;
  margin: auto;
}
.contact-me {
  padding-bottom: 30px;
}
